@import url('https://fonts.googleapis.com/css?family=Chewy');

body, #root, #app-root {
  height: 100%;
  overflow: hidden;
}

#brand {
  font-family: 'Chewy', cursive;
  text-align: center;
  vertical-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

#brand:hover {
  cursor: default;
}

#search-bar {
  float: left;
  -webkit-app-region: no-drag;
}

#top-bar {
  -webkit-app-region: drag;
  background: rgb(255, 166, 89);
  padding: 10px 10px;
}

.graph-plot {
  height: 100%;
}

.js-plotly-plot {
  height: 95%;
}

.window-btn {
  float: right;
  padding-left: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-app-region: no-drag;
}
