@import url('https://fonts.googleapis.com/css?family=Chewy');

body, #root, #app-root {
  height: 100%;
  overflow: hidden;
}

#brand {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 1.5em;
  user-select: none;
  padding-left: 20px;
}

.window-btn {
  float: right;
  padding-left: 20px;
  -webkit-app-region: no-drag;
}

#brand:hover {
  cursor: default;
}

#search-bar {
  -webkit-app-region: no-drag;
}

#top-bar {
  -webkit-app-region: drag;
  background: rgb(255, 166, 89);
  padding: 10px 10px;
}

.js-plotly-plot {
  height: 100%;
}

#spinner {
  padding-top: 27%;
  display: flex;
  justify-content: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

